services:
  - type: web
    name: smart-scholar-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 5000
  - type: web
    name: smart-scholar-frontend
    env: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_API_URL
        value: https://ai-schoalar-backend1-bjrs.onrender.com/api
    source:
      repo: https://github.com/Akshaysanaka/AI-schoalar.git
      branch: main
      rootDir: frontend